In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Loan_applicants_check.csv")

In [3]:
df['dob']

0      November 1967
1           May 1965
2        August 1980
3       January 1974
4         March 1977
5           May 1976
6         April 1974
7          July 1963
8           May 1959
9          June 1973
10        March 1983
11       August 1966
12         July 1958
13          May 1987
14    September 1977
15       August 1990
16     December 1965
Name: dob, dtype: object

In [4]:
df['dob'] = pd.to_datetime(df['dob'], errors='coerce')

In [2]:
now = pd.to_datetime('now', format="%m-")

C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\arrays\datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(

In [6]:
df['Age'] = (now.year - df['dob'].dt.year) - ((now.month - df['dob'].dt.month) < 0)

In [7]:
df.to_csv("Loan_applicants_check_age.csv", index=False)

In [5]:
now

Timestamp('2023-01-10 10:24:42.444517')

In [9]:
pd.to_datetime("2022", errors='coerce').year

2022